/*Reagan Gabutelo*/
.App {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.navbar {
  background-color: orange;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar li {
  margin: 0 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: white;
}

.task-list-view,
.add-task-view {
  background-color: #f8f9fa;
  padding: 30px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 40px auto;
}

.add-task-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

h1 {
  color: #282c34;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 0.7rem;
  width: 100%;
  max-width: 400px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  border-color: #61dafb;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button {
  padding: 0.7rem 1.5rem;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #61dafb;
  transform: scale(1.05);
}

button:focus {
  outline: none;
}
